<div class="container">
    <h1> My Photon Devices State! </h1>
    <h6 ng-show="logOut" class="log-out" ng-click="logout()">  <i class="fa fa-sign-out"></i> <a> (Logout) </a> </h6>
    <div class="container">
        <button ng-show="loginBtn" class="btn-info" ng-click="open()">Please Sing In To See State </button>
        <h5 ng-show="loggedIn" >{{greeting}} </h5>

    </div>

    <div class="container">

       <div> <h5> List of Connected Devices: </h5> </div>

        <h6  ng-show="emptyList"> No Devices </h6>
            <table class="table table-striped">
                <tr class="info">
                    <th> Photon Id </th>
                    <th> Photon Name </th>
                    <th> Connected </th>
                </tr>
                <tr ng-repeat="device in devicesList">
                    <td id="device-id" ng-click="getId()" title="Click to see graphs"> <a href='#/graphs'> {{device.id}}</a> </td>
                    <td> {{device.name}} </td>
                    <td> {{device.connected}} </td>
                  <!--  <td>Last App: {{ device.lastApp }} </td>-->
                </tr>
            </table>

        </div>
    </div>

<div class="container">
    <div class="col-lg-3">
        <just-gage id="volts-gauge" min=0 max=3.3 value="volts" title="Photoresistor {{deviceName}}"></just-gage>
    </div>
</div>


<div id="gauge"></div>

<div ui-view></div>

</div>


