<div class="container">
    <h1> My Photon Devices State! </h1>
    <div class="container">
        <button ng-hide="loginBtn" class="btn-info" ng-click="open()">Please Sing In To See State </button>
        <h6 ng-show="loggedIn" >{{greeting}}</h6>
    </div>

    <div class="container">
       <a ng-click="getDevices()"> <h5>Click to Refresh List of Connected Devices: </h5> </a>
        <h6  ng-show="emptyList"> No Devices </h6>
            <table>
                <tr ng-repeat="device in devicesList">
                    <td> ID : {{ device.id }} </td>
                    <td> Name : {{ device.name }} </td>
                    <td> Connected : {{ device.connected }} </td>
                  <!--  <td>Last App: {{ device.lastApp }} </td>-->
                </tr>
            </table>

        </div>
    </div>
</div>


