<div id="main-photon">

    <div id="aura-title">
        <h6 class="col-xs-2"> <i class="fa fa-dashboard fa-3x"> AURA </i></h6>
    </div>

    <div id="aura-heading" class="container-fluid">
        <div class="row">
            <div class="col-xs-4"><h4> Filters Monitoring Dashboard</h4></div>
            <div class="col-xs-6"> <h6 ng-show="loggedIn" >{{greeting}}  <a class="btn" ng-click="logout()">   Logout  </a> <i class="fa fa-sign-out"></i></h6></div>
            <div class="col-xs-12"><button ng-show="loginBtn" class="btn-info" ng-click="open()"><i class="fa fa-lock"> Login</i></button></div>
        </div>
    </div>

<div class="container">
    <tabset ng-show="tabset">
        <tab heading="Registered devices">
            <p>
            <div class="btn-group" dropdown keyboard-nav on-toggle="toggled(open)">
                <button type="button" class="btn" dropdown-toggle>
                    Select Device <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
                    <li ng-repeat="device in devices">
                        <a tabindex="-1" href="#" ng-click="getSelectedDevice(device)">{{device}}</a>
                    </li>
                </ul>
            </div>
            </p>
            <p>
            <div class="container-fluid" ng-show="devicesTable">

                <h6  ng-show="emptyList"> No Devices </h6>
                <table class="table table-striped">
                    <tr class="info">
                        <th> Device Id </th>
                        <th> Device Name </th>
                        <th> Connected </th>
                    </tr>
                    <tr ng-repeat="device in devicesList">
                        <td >{{device.id}}</td> <!--id="device-id" ng-click="getId()" title="Click to see graphs"-->
                        <td> {{device.name}} </td>
                        <td> {{device.connected}} </td>
                        <!--  <td>Last App: {{ device.lastApp }} </td>-->
                    </tr>
                </table>

            </div>
            </p>
        </tab>
        <tab heading="Line Chart">
            <p>
            <div class="btn-group" dropdown keyboard-nav on-toggle="toggled(open)">
                <button id="simple-btn-keyboard-nav" type="button" class="btn" dropdown-toggle>
                    Select Device <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="simple-btn-keyboard-nav">
                    <li ng-repeat="device in devices">
                        <a tabindex="-1" href="#" ng-click="getSelectedDevice(device)">{{device}}</a>
                    </li>
                </ul>
            </div>
            <div class="container">
                <div class="col-xs-6" ng-show="showChart">
                    <linechart data="data" options="options" mode="" width="550" height="300"></linechart>
                </div>
            </div>
            </p>
        </tab>
<!--
        <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
            {{tab.content}}
        </tab>
-->
    </tabset>

    <div class="col-sm-3" ng-show="showGauge">
        <just-gage id="volts-gauge" min=0 max=3.3 value="volts" title="Select a connected device"></just-gage>
    </div>

</div>

</div>









