@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/liron\/dev\/playPlace\/myPhoton\/app\/Photon\/_Photon\.scss}line{font-family:\000035}}
#main-photon #aura-title {
  top: 100px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/liron\/dev\/playPlace\/myPhoton\/app\/styles\/main\.scss}line{font-family:\000033}}
.pageSwitch {
  cursor: pointer;
  display: inline-block;
  padding: 0px 10px;
  color: inherit;
  height: 50px;
  width: auto;
  min-width: 130px;
  font-family: OpenSansSemiBold;
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/liron\/dev\/playPlace\/myPhoton\/app\/styles\/main\.scss}line{font-family:\0000317}}
.pageSwitch:hover {
  opacity: 0.8;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/liron\/dev\/playPlace\/myPhoton\/app\/styles\/main\.scss}line{font-family:\0000321}}
.pageSwitch.active {
  color: #27d1c7;
  background-color: #4c7097;
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.6), inset 0 1px 1px 1px rgba(44, 74, 103, 0.36);
}
