
#login-form{
  margin: 5% auto;
  width: 400px;
  padding: 0px 40px;
 // padding-top: 0px;
  border-radius: 3px;
  background: white;
}

.nav-tabs {
  background: #4DB6C5;
}

.label.label-primary {
  background-color: #4DB6C5;
}

.dusty-gauge {
  width: 500px;
  height: 200px;
  display: inline-block;
}

.logo {
  width: 145px;
  //background-image: url("../images/logo.png");
  background-image: url("../images/logo.svg");
  height: 100px;
  background-repeat: no-repeat;
  float: left;
  margin-left: -33px;
  margin-top: -22px;
  background-size: 90%;

}

.login-logo {
  width: 200px;
  background-image: url("../images/logoInline.svg");
  height: 130px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  //float: left;
  //margin-top: 5px;
  //margin-left: 10px;
  background-size: 80%;
}

.table-responsive {
  overflow-x: auto;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}

//
//@media only screen and (max-device-width: 480px) {
//}

