

#main-photon {

  #aura-title{
    top: 100px;
  }

}

#login-form{
  margin: 0 auto;
  width: 400px;
  padding: 40px;
  border-radius: 3px;
  background: white;
}


@media only screen and (max-device-width: 480px) {
}

