
#login-form{
  margin: 5% auto;
  width: 400px;
  padding: 0 40px;
  border-radius: 3px;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;

}

.nav-tabs {
  background: #4DB6C5;
}

.label.label-primary {
  background-color: #4DB6C5;
}

.charts{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12) !important;

  .dusty-gauge {
    width: 300px;
    height: 300px;
    display: inline-block;
  }

}

.logo {
  width: 145px;
  background-image: url("../images/logo.svg");
  height: 100px;
  background-repeat: no-repeat;
  float: left;
  margin-left: -33px;
  margin-top: -22px;
  background-size: 90%;

}

.login-logo {
  width: 200px;
  background-image: url("../images/logoInline.svg");
  height: 130px;
  background-repeat: no-repeat;
  margin: 0 auto 0 auto;
  background-size: 80%;
}

.table-responsive {
  overflow-x: auto;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

.linechart{
  width: 350px ;
  height: 350px;

}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  #login-form{
    margin: 20% auto;
    width: 100%;
    padding: 0 40px;
    border-radius: 5px;
  }

  .linechart{
    width: 100px;
    height: 350px;

  }
  .charts {
   // width: 300px;

  }

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
}

/* Portrait phones and smaller */
@media (max-width: 480px) {

}

//
//@media only screen and (max-device-width: 480px) {
//}

