<div >
    <div class="modal-body" >
        <form id="login-modal" name="login-form">
            <div id="login-inputs" class="form-group">
                <p><input class="form-control" ng-model="item.email"  type="email" placeholder=" Email"></p>
                <p><input class="form-control" ng-model="item.passwd"  type="password" placeholder=" Password"></p>
            </div>
        </form>
        <div class="login-btn">
            <button class="btn btn-primary" ng-click="login()" ng-disabled="!item.email">
                <span ng-show="isLogin"><i class="fa fa-spinner fa-pulse"></i></span>
               Login
            </button>
        </div>
    </div>
</div>







