<div class="container">
    <div class = "login-logo"> </div>
<div class="row" id="login-form">
    <div class="col-xs-12 .col-md-8">
        <h2>Log In</h2>
        <div class="modal-body" >
            <form name="login-form">
                <div id="login-inputs" class="form-group">
                    <p><input class="form-control" ng-model="email"  type="email" placeholder=" Email"></p>
                    <p><input class="form-control" ng-model="passwd"  type="password" placeholder=" Password"></p>
                </div>
            </form>
            <div class="login-btn">
                <button class="btn btn-primary" ng-click="login()" ng-disabled="!email">
                    <span ng-show="isLogin"><i class="fa fa-spinner fa-pulse"></i></span>
                    Login
                </button>
            </div>
        </div>
    </div>
    <div ui-view> </div> <!-- needed for ui router use -->
</div>
</div>
