<div ng-controller="switchTabsCtrl">
<div class="container">
    <div class="row">

        <div class="col-xs-2" >
            <div class="logo"></div>
        </div>


        <div id="aura-heading" class="container-fluid">
            <div class="col-xs-6"> <h6 ng-show="loggedIn" >{{greeting}} <a class="label label-primary" ng-click="logout()">Logout </a>  </h6></div>
        </div>
        <tabset>
        <tab
                ng-repeat="tab in tabs"
                heading="{{tab.heading}}"
                select="go(tab.route)"
                active="tab.active">
        </tab>
    </tabset>
</div>

    <div ui-view> </div>
</div>
</div>